{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Маятник Фуко</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
        <link rel="icon" href="data:,"> <!-- Пустая иконка -->
        <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="panel">
                <h2>Карта</h2>
                <div id="map"></div>
                <div class="panel1">
                    <div class="params">
                        <h3>Параметры</h3>
                        <p>Широта: <span id="latitude">0</span>°</p>
                        <p>Долгота: <span id="longitude">0</span>°</p>
                        <p>Длина маятника: <input type="number" id="height" value="70" min="10" max="200"> м</p>
                        <p>Коэффициент затухания: <input type="number" id="damping_coef" value="0.1" min="0" max="1" step="0.01">1/c</p>
                        <p>Начальный угол: <input type="number" id="init_angle" value="20" min="5" max="30">°</p>
                        <p>Время симуляции: <input type="number" id="stoptime" value="10000" min="30" max="1000000"> c</p>
                        <p>Ускорение времени: <input type="range" id="speed-slider" min="1" max="500" value="1"><span id="speed-display">25x</span> </p>
                    </div>
                    
                    <div class="info-panel">
                        <p>Период колебаний маятника: <span id="period-value">0</span>c</p>
                        <p>Период обращения плоскости: <span id="rotation-value">0</span> ч</p>
                        <button id="start-btn">Запустить симуляцию</button>
                        <button id="stop-btn" style="margin-top: 10px; display: none;">Остановить симуляцию</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="panel">
                <div class="pendulum-container">
                    <div><h3>3D визуализация</h3></div>
                    <div id="pendulum-3d"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="panel">
                <div class="charts-row">
                    <div class="chart-wrapper">
                        <h3>График траектории в реальном времени</h3>
                        <canvas id="chart"></canvas>
                        <div class="simulation-timer"></div>
                    </div>
                    <div class="chart-wrapper">
                        <h3>Полная траектория</h3>
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
            </div>
        </div>

            <div class="container">
                <div class="panel">
                    <h3>Зависимость периода от широты</h3>
                    <div class="chart-wrapper">
                        <canvas id="latitude-period-chart"></canvas>
                    </div>
                </div>
            </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>